Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

OPGM v0.10.3 release
  opendbc_repo/opendbc/car/__init__.py
  opendbc_repo/opendbc/car/gm/carcontroller.py
  opendbc_repo/opendbc/car/gm/carstate.py
  opendbc_repo/opendbc/car/gm/fingerprints.py
  opendbc_repo/opendbc/car/gm/gmcan.py
  opendbc_repo/opendbc/car/gm/interface.py
  opendbc_repo/opendbc/car/gm/tests/test_gm.py
  opendbc_repo/opendbc/car/gm/values.py
  opendbc_repo/opendbc/car/tests/routes.py
  opendbc_repo/opendbc/car/torque_data/override.toml
  opendbc_repo/opendbc/car/torque_data/substitute.toml
  opendbc_repo/opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
  opendbc_repo/opendbc/safety/declarations.h
  opendbc_repo/opendbc/safety/longitudinal.h
  opendbc_repo/opendbc/safety/modes/gm.h
  opendbc_repo/opendbc/safety/safety.h
  opendbc_repo/opendbc/safety/tests/common.py
  opendbc_repo/opendbc/safety/tests/test_gm.py
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/car/tests/test_cruise_speed.py
  selfdrive/controls/controlsd.py
Due: mypy

RealFast v0.10.3 release
  opendbc_repo/opendbc/car/chrysler/carcontroller.py
  opendbc_repo/opendbc/car/chrysler/carstate.py
  opendbc_repo/opendbc/car/chrysler/chryslercan.py
  opendbc_repo/opendbc/car/chrysler/fingerprints.py
  opendbc_repo/opendbc/car/chrysler/interface.py
  opendbc_repo/opendbc/car/chrysler/values.py
  opendbc_repo/opendbc/safety/modes/chrysler.h
  selfdrive/car/car_specific.py
  selfdrive/locationd/paramsd.py
Due: mypy

FrogPilot param functions
  common/params.cc
  common/params.h
  common/params_pyx.pyx
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/offroad/maps_settings.h
  frogpilot/ui/qt/offroad/model_settings.h
  frogpilot/ui/qt/offroad/navigation_settings.h
  frogpilot/ui/qt/offroad/sounds_settings.h
  frogpilot/ui/qt/offroad/theme_settings.h
  frogpilot/ui/qt/offroad/utilities.cc
  frogpilot/ui/qt/offroad/utilities.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  launch_chffrplus.sh
  opendbc_repo/opendbc/car/interfaces.py
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/onroad/buttons.h
  selfdrive/ui/qt/window.h
  selfdrive/ui/soundd.py
  system/manager/manager.py
  system/updated/updated.py
Due: mypy, cppcheck

FrogPilot Sentry reporting
  system/sentry.py
  system/updated/updated.py
Due: mypy

FrogPilot languages
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_caveman.ts
  selfdrive/ui/translations/main_duck.ts
  selfdrive/ui/translations/main_frog.ts
  selfdrive/ui/translations/main_pirate.ts
  selfdrive/ui/translations/main_shakespearean.ts
  selfdrive/ui/translations/main_uk.ts
Due: test_translations

FrogPilot README
  README.md
Due: none

FrogPilot branding
  frogpilot/assets/other_images/frogpilot_boot_logo.jpg
  frogpilot/assets/other_images/stock_bg.jpg
  frogpilot/common/frogpilot_functions.py
  selfdrive/assets/images/spinner_comma.png
  selfdrive/assets/images/spinner_track.png
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/toggle.cc
  system/ui/spinner.py
Due: mypy, cppcheck

FrogPilot conversions
  common/constants.py
  common/util.h
Due: mypy, cppcheck

FrogPilot release/tested branches
  system/version.py
Due: mypy

FrogPilot utilities
  frogpilot/common/frogpilot_download_utilities.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
Due: mypy

FrogPilot workflows
  .github/workflows/compile_frogpilot.yaml
  .github/workflows/review_pull_request.yaml
  .github/workflows/schedule_update.yaml
  .github/workflows/update_pr_branch.yaml
  .github/workflows/update_release_branch.yaml
  .github/workflows/update_tinygrad.yaml
  frogpilot/tools/compile_models.py
Due: mypy

Acceleration Path
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Acceleration/Deceleration Profiles
  frogpilot/controls/lib/frogpilot_acceleration.py
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  opendbc_repo/opendbc/dbc/generator/toyota/_toyota_2017.dbc
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Always allow branch switching
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

Adjacent leads tracking
  selfdrive/controls/radard.py
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: mypy, cppcheck

Alert Volume Controller
  frogpilot/ui/qt/offroad/sounds_settings.cc
  frogpilot/ui/qt/offroad/sounds_settings.h
  selfdrive/ui/soundd.py
Due: mypy, cppcheck

Add community DBC imports
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_new_mc_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_nodsu_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_secoc_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_tnga_k_pt.dbc
Due: none

Always allow "openpilot Longitudinal Control (Alpha)"
  common/params_keys.h
  selfdrive/car/card.py
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/settings.cc
Due: mypy, cppcheck

Advanced longitudinal tuning
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/volkswagen/carcontroller.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/modeld.py
Due: mypy

Advanced lateral tuning
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/lagd.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/torqued.py
Due: mypy

Camera view selection
  selfdrive/ui/qt/onroad/annotated_camera.cc
Due: cppcheck

Chevrolet TRAX 2024
  opendbc_repo/opendbc/car/gm/fingerprints.py
  opendbc_repo/opendbc/car/gm/interface.py
  opendbc_repo/opendbc/car/gm/values.py
  opendbc_repo/opendbc/car/torque_data/substitute.toml
Due: none

Conditional Experimental Mode
  frogpilot/assets/other_images/chill_mode_icon.gif
  frogpilot/assets/other_images/curve_icon.gif
  frogpilot/assets/other_images/experimental_mode_icon.gif
  frogpilot/assets/other_images/lead_icon.gif
  frogpilot/assets/other_images/light_icon.gif
  frogpilot/assets/other_images/speed_icon.gif
  frogpilot/assets/other_images/turn_icon.gif
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/conditional_experimental_mode.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/car/cruise.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/ui.h
Due: mypy, cppcheck

Block users from using development branches
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/controls/frogpilot_card.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/widgets/frogpilot_controls.cc
  frogpilot/ui/qt/widgets/frogpilot_controls.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/software_settings.cc
  system/manager/manager.py
  system/sentry.py
Due: mypy, cppcheck

Compass
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: cppcheck

Automatic backups
  frogpilot/common/frogpilot_backups.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/data_settings.cc
  system/manager/manager.py
  system/updated/updated.py
Due: mypy, cppcheck

comma's steering speed hack from their 2022 Taco Bell Run
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Automatic translations
  selfdrive/ui/translations/auto_translate.py
  selfdrive/ui/update_translations.py
Due: mypy, test_translations

"Back" button in settings menu
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

Blind spot path
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Automatic updates
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/ui.cc
  system/manager/process_config.py
  system/updated/updated.py
Due: mypy, cppcheck

Change the steering wheel icon's background color
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
Due: cppcheck

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
