Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)

Nudgeless lane changes
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Only one lane change per signal
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Random Themes
  frogpilot/assets/theme_manager.py
Due: mypy

Offset Set Speed
  selfdrive/car/cruise.py
Due: mypy

Offline maps
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  frogpilot/navigation/mapd.py
  system/manager/process_config.py
Due: mypy

Remove "dashcamOnly" flag check
  selfdrive/car/card.py
Due: mypy

Random Events
  frogpilot/assets/random_events/icons/button_home.gif
  frogpilot/assets/random_events/icons/ferg.png
  frogpilot/assets/random_events/sounds/angry.wav
  frogpilot/assets/random_events/sounds/continued.wav
  frogpilot/assets/random_events/sounds/dejaVu.wav
  frogpilot/assets/random_events/sounds/doc.wav
  frogpilot/assets/random_events/sounds/fart.wav
  frogpilot/assets/random_events/sounds/firefox.wav
  frogpilot/assets/random_events/sounds/hal9000.wav
  frogpilot/assets/random_events/sounds/mail.wav
  frogpilot/assets/random_events/sounds/nessie.wav
  frogpilot/assets/random_events/sounds/noice.wav
  frogpilot/assets/random_events/sounds/this_is_fine.wav
  frogpilot/assets/random_events/sounds/uwu.wav
  frogpilot/assets/random_events/steering_wheels/firefox.gif
  frogpilot/assets/random_events/steering_wheels/goat.gif
  frogpilot/assets/random_events/steering_wheels/great_scott.gif
  frogpilot/assets/random_events/steering_wheels/this_is_fine.gif
  frogpilot/assets/random_events/steering_wheels/tree_fiddy.gif
  frogpilot/assets/random_events/steering_wheels/weeb_wheel.gif
  selfdrive/ui/soundd.py
Due: mypy

Speed Limit Filler
  frogpilot/system/speed_limit_filler.py
  system/manager/process_config.py
Due: mypy

Retain network tethering
  frogpilot/ui/frogpilot_ui.cc
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/ui.cc
Due: cppcheck

Retain the sidebar's position
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/window.cc
Due: cppcheck

Sidebar Metrics
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
  system/hardware/hardwared.py
  system/loggerd/config.py
Due: mypy, cppcheck

Report Issue Button
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/utilities.cc
Due: mypy, cppcheck

Screen Brightness
  selfdrive/ui/ui.cc
Due: cppcheck

Screen Timeout
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Reverse cruise increase for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
  opendbc_repo/opendbc/car/toyota/toyotacan.py
Due: none

"Stop-and-Go Hack" for 2017 Chevy Volt
  opendbc_repo/opendbc/car/gm/carcontroller.py
  opendbc_repo/opendbc/car/gm/carstate.py
Due: none

Use "single_pedal_mode" with regen
  opendbc_repo/opendbc/car/gm/carstate.py
Due: none

Turn Desires
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/controls/lib/desire_helper.py
  selfdrive/modeld/modeld.py
  selfdrive/selfdrived/events.py
Due: mypy

Vehicle fingerprint selection
  frogpilot/ui/qt/offroad/vehicle_settings.cc
  frogpilot/ui/qt/offroad/vehicle_settings.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/car/card.py
Due: mypy, cppcheck

"Stop-and-Go" for Subaru
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/subaru/carcontroller.py
  opendbc_repo/opendbc/car/subaru/carstate.py
  opendbc_repo/opendbc/car/subaru/interface.py
  opendbc_repo/opendbc/car/subaru/subarucan.py
Due: mypy

"Stop-and-Go Hack" for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
Due: none

ZSS support
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  opendbc_repo/opendbc/car/toyota/values.py
Due: none

Weather condition offsets
  frogpilot/assets/other_images/weather_clear_day.gif
  frogpilot/assets/other_images/weather_clear_night.gif
  frogpilot/assets/other_images/weather_snow.gif
  frogpilot/assets/other_images/weather_thunder.gif
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_acceleration.py
  frogpilot/controls/lib/frogpilot_following.py
  frogpilot/controls/lib/weather_checker.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: mypy, cppcheck

merge
  selfdrive/controls/controlsd.py
Due: mypy

Restore panda torque workflows
  .github/workflows/sync_bp-BPilot-BANNABLE-PandaTorque.yml
Due: none

Temp revert
  opendbc_repo/opendbc/safety/modes/hyundai.h
  opendbc_repo/opendbc/safety/modes/hyundai_canfd.h
  opendbc_repo/opendbc/safety/modes/hyundai_common.h
  selfdrive/pandad/panda_safety.cc
  selfdrive/selfdrived/selfdrived.py
Due: mypy, cppcheck

Fixes
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/qt/offroad/longitudinal_settings.cc
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/safety/modes/subaru.h
  selfdrive/controls/controlsd.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/onroad/alerts.h
  selfdrive/ui/qt/onroad/onroad_home.cc
  selfdrive/ui/qt/onroad/onroad_home.h
Due: mypy, cppcheck

Faster auto tune
  selfdrive/locationd/torqued.py
Due: mypy

Fast Boot Using Prebuilt
  system/manager/manager.py
Due: mypy

Make HKG dash more like stock
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy
