Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)

Force openpilot to Coast
  frogpilot/assets/other_images/paused_icon.png
  frogpilot/assets/other_images/speed_icon.png
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/lib/frogpilot_acceleration.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/controls/controlsd.py
Due: mypy, cppcheck

Hide Lead Marker
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Goat Scream
  frogpilot/assets/random_events/sounds/goat.wav
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/soundd.py
Due: mypy

FrogsGoMoo's personal tweaks for Toyota/Lexus
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/toyota/carcontroller.py
Due: mypy

Force Stop at "Detected" Stop Lights/Signs
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  selfdrive/selfdrived/events.py
Due: mypy

Force Torque Controller
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/interfaces.py
Due: mypy

Gracefully catch "set_core_affinity" errors
  common/realtime.py
Due: mypy

Hide Max Speed
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Hide Current Speed
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Gas / Brake Pedal Indicators
  frogpilot/assets/other_images/brake_pedal.png
  frogpilot/assets/other_images/gas_pedal.png
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: cppcheck

Hide Alerts
  selfdrive/ui/qt/onroad/alerts.cc
Due: cppcheck

Generate a fake "DongleID" for unofficial devices
  system/athena/registration.py
Due: mypy

High-Quality Recordings
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_variables.py
  system/hardware/hw.h
  system/hardware/hw.py
  system/loggerd/loggerd.h
Due: mypy, cppcheck

Increase steering torque for Subaru Impreza
  opendbc_repo/opendbc/car/subaru/values.py
  opendbc_repo/opendbc/safety/modes/subaru.h
  opendbc_repo/opendbc/safety/tests/test_subaru.py
Due: none

Lead detection sensitivity
  selfdrive/controls/radard.py
Due: mypy

Human-Like Following
  frogpilot/controls/lib/frogpilot_following.py
Due: mypy

Hyundai Ioniq 6 has blind spot monitoring
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/car/hyundai/interface.py
Due: none

Lead Departing Alert
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/selfdrived/events.py
Due: mypy

Lead Info
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_following.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
Due: mypy, cppcheck

Lane Detection
  frogpilot/common/frogpilot_utilities.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: mypy, cppcheck

Increase Temperature Limits
  system/hardware/hardwared.py
Due: mypy

Konik.ai server support
  common/api.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/device_settings.cc
  frogpilot/ui/qt/offroad/device_settings.h
  frogpilot/ui/qt/widgets/drive_stats.cc
  frogpilot/ui/qt/widgets/drive_stats.h
  frogpilot/ui/qt/widgets/frogpilot_controls.cc
  frogpilot/ui/qt/widgets/frogpilot_controls.h
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/prime.cc
  system/athena/athenad.py
  system/athena/registration.py
  system/hardware/hw.h
  system/hardware/hw.py
  tools/lib/api.py
  tools/lib/auth.py
  tools/scripts/fetch_image_from_route.py
Due: mypy, cppcheck

Increase Stopped Distance
  frogpilot/controls/frogpilot_planner.py
  selfdrive/controls/radard.py
Due: mypy

Human-Like Acceleration
  frogpilot/controls/lib/frogpilot_acceleration.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Lock doors after ignition off for Toyota/Lexus
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  selfdrive/pandad/pandad.cc
Due: mypy, cppcheck

Increase steering torque for "Global Gen2" Subaru
  opendbc_repo/opendbc/car/subaru/values.py
  opendbc_repo/opendbc/safety/modes/subaru.h
  opendbc_repo/opendbc/safety/tests/test_subaru.py
Due: none

Human-Like Lane Changes
  selfdrive/controls/radard.py
Due: mypy

Loud "Car Detected in Blindspot" Alert
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Model Manager
  frogpilot/common/frogpilot_utilities.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/widgets/frogpilot_controls.cc
  frogpilot/ui/qt/widgets/frogpilot_controls.h
  selfdrive/ui/qt/home.cc
Due: mypy, cppcheck

Low-Voltage Cutoff
  system/hardware/power_monitoring.py
Due: mypy

Mazda has blind spot monitoring
  opendbc_repo/opendbc/car/mazda/interface.py
Due: none

Nudgeless lane changes delay
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Nudgeless lane changes
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Maximum Acceleration
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
Due: mypy

Lock doors when shifting out of park for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
  opendbc_repo/opendbc/safety/modes/toyota.h
Due: none

Only change lanes when a lane is detected
  selfdrive/controls/lib/desire_helper.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Only change driving personality if the menu is open (GM only)
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Only one lane change per signal
  selfdrive/controls/lib/desire_helper.py
Due: mypy
