Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

Path Edges
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Offline maps
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/navigation/mapd.py
  system/manager/process_config.py
Due: mypy

Pause Acceleration/Braking
  frogpilot/controls/frogpilot_card.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: mypy, cppcheck

Offset Set Speed
  selfdrive/car/cruise.py
Due: mypy

Pause Steering
  frogpilot/assets/other_images/turn_icon.png
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/controls/controlsd.py
Due: mypy, cppcheck

Pause steering with an active turn signal
  frogpilot/controls/frogpilot_planner.py
Due: mypy

Random Events
  frogpilot/assets/random_events/icons/button_home.gif
  frogpilot/assets/random_events/icons/ferg.png
  frogpilot/assets/random_events/sounds/angry.wav
  frogpilot/assets/random_events/sounds/continued.wav
  frogpilot/assets/random_events/sounds/dejaVu.wav
  frogpilot/assets/random_events/sounds/doc.wav
  frogpilot/assets/random_events/sounds/fart.wav
  frogpilot/assets/random_events/sounds/firefox.wav
  frogpilot/assets/random_events/sounds/hal9000.wav
  frogpilot/assets/random_events/sounds/mail.wav
  frogpilot/assets/random_events/sounds/nessie.wav
  frogpilot/assets/random_events/sounds/noice.wav
  frogpilot/assets/random_events/sounds/this_is_fine.wav
  frogpilot/assets/random_events/sounds/uwu.wav
  frogpilot/assets/random_events/steering_wheels/accel30.gif
  frogpilot/assets/random_events/steering_wheels/accel35.gif
  frogpilot/assets/random_events/steering_wheels/accel40.gif
  frogpilot/assets/random_events/steering_wheels/firefoxSteerSaturated.gif
  frogpilot/assets/random_events/steering_wheels/goatSteerSaturated.gif
  frogpilot/assets/random_events/steering_wheels/thisIsFineSteerSaturated.gif
  frogpilot/assets/theme_manager.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/frogpilot_process.py
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/soundd.py
Due: mypy, cppcheck

Retain the sidebar's position
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/window.cc
Due: cppcheck

Random Themes
  frogpilot/assets/theme_manager.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/frogpilot_process.py
Due: mypy

Report a Bug or an Issue
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/utilities.cc
Due: mypy, cppcheck

Remove "dashcamOnly" flag check
  selfdrive/car/card.py
Due: mypy

Reverse cruise increase for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
  opendbc_repo/opendbc/car/toyota/toyotacan.py
Due: none

Rainbow Road™
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Retain network tethering
  frogpilot/ui/frogpilot_ui.cc
  selfdrive/ui/qt/network/networking.cc
  selfdrive/ui/qt/network/networking.h
  selfdrive/ui/ui.cc
Due: cppcheck

Sidebar Metrics
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
  system/hardware/hardwared.py
  system/loggerd/config.py
Due: mypy, cppcheck

SDSU support
  opendbc_repo/opendbc/car/car_helpers.py
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  opendbc_repo/opendbc/car/toyota/values.py
Due: none

Screen Brightness
  selfdrive/ui/ui.cc
Due: cppcheck

Standby Mode
  frogpilot/ui/frogpilot_ui.h
  selfdrive/ui/ui.cc
Due: cppcheck

Screen Recorder
  frogpilot/ui/qt/offroad/data_settings.cc
  frogpilot/ui/qt/offroad/device_settings.cc
  frogpilot/ui/screenrecorder/blocking_queue.h
  frogpilot/ui/screenrecorder/omx_encoder.cc
  frogpilot/ui/screenrecorder/omx_encoder.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Audio.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Component.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_ContentPipe.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Core.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_CoreExt.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_IVCommon.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Image.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Index.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_IndexExt.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Other.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_QCOMExtns.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Skype_VideoExtensions.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Types.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_Video.h
  frogpilot/ui/screenrecorder/openmax/include/OMX_VideoExt.h
  frogpilot/ui/screenrecorder/screenrecorder.cc
  frogpilot/ui/screenrecorder/screenrecorder.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
Due: cppcheck

Rotate the steering wheel icon
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
Due: cppcheck

"Stop-and-Go" for Subaru
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/subaru/carcontroller.py
  opendbc_repo/opendbc/car/subaru/carstate.py
  opendbc_repo/opendbc/car/subaru/interface.py
  opendbc_repo/opendbc/car/subaru/subarucan.py
Due: mypy

Show Driver Camera When In Reverse
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/window.cc
Due: cppcheck

Speed Limit Controller
  frogpilot/assets/other_images/dashboard_icon.png
  frogpilot/assets/other_images/mapbox_icon.png
  frogpilot/assets/other_images/next_maps_icon.png
  frogpilot/assets/other_images/offline_maps_icon.png
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  frogpilot/controls/lib/speed_limit_controller.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  opendbc_repo/opendbc/car/toyota/carstate.py
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/onroad/hud.cc
Due: mypy, cppcheck

Screen Timeout
  selfdrive/ui/qt/window.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: cppcheck

Speed Limit Filler
  frogpilot/system/speed_limit_filler.py
  system/manager/process_config.py
Due: mypy

Traffic Mode
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_acceleration.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/controls/lib/frogpilot_following.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/ui.cc
  selfdrive/ui/ui.h
Due: mypy, cppcheck

ZSS support
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  opendbc_repo/opendbc/car/toyota/values.py
Due: none

Use Wheel Speed
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Disable the "DRIVING MODEL" panel
  frogpilot/ui/qt/offroad/frogpilot_settings.cc
Due: cppcheck

Turn Desires
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/controls/lib/desire_helper.py
  selfdrive/modeld/modeld.py
  selfdrive/selfdrived/events.py
Due: mypy

Debug memory usage
  selfdrive/selfdrived/selfdrived.py
  system/sentry.py
Due: mypy

"Stop-and-Go Hack" for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
Due: none

Vehicle fingerprint selection
  frogpilot/ui/qt/offroad/vehicle_settings.cc
  frogpilot/ui/qt/offroad/vehicle_settings.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/car/card.py
Due: mypy, cppcheck

"Stop-and-Go Hack" for 2017 Chevy Volt
  opendbc_repo/opendbc/car/gm/carcontroller.py
Due: none

Use "single_pedal_mode" with regen
  opendbc_repo/opendbc/car/gm/carstate.py
Due: none

Weather condition offsets
  frogpilot/assets/other_images/weather_clear_day.gif
  frogpilot/assets/other_images/weather_clear_night.gif
  frogpilot/assets/other_images/weather_low_visibility.gif
  frogpilot/assets/other_images/weather_rain.gif
  frogpilot/assets/other_images/weather_snow.gif
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_acceleration.py
  frogpilot/controls/lib/frogpilot_following.py
  frogpilot/controls/lib/weather_checker.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: mypy, cppcheck

Fix?
  opendbc_repo/opendbc/car/interfaces.py
Due: none

Temp disable logging
  frogpilot/common/frogpilot_variables.py
Due: mypy

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
