Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

Temp disable increasing "danger_factor"
  frogpilot/controls/lib/frogpilot_following.py
Due: mypy

Test UI
  system/manager/process_config.py
Due: mypy

Faster auto tune
  selfdrive/locationd/torqued.py
Due: mypy

Fast Boot Using Prebuilt
  system/manager/manager.py
Due: mypy

Fix locationd temporary error false positives
  selfdrive/locationd/locationd.cc
Due: cppcheck

Add locationd DECAY fix to cherry-pick workflow
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Make cherry-pick workflow more robust and disable conflicting HKG commit
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

HKG CAN-FD Increased Torque (Clean Version)
  panda/board/safety/safety_hyundai_canfd.h
  selfdrive/car/hyundai/values.py
Due: mypy

Update workflow with new clean HKG torque enhancement commit
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

HKG CAN-FD Increased Torque for OpenPilot 0.10
  opendbc_repo/opendbc/car/hyundai/values.py
  opendbc_repo/opendbc/safety/modes/hyundai_canfd.h
Due: none

Fix locationd temporary error false positives for OpenPilot 0.10
  selfdrive/locationd/locationd.py
Due: mypy

Update Testing workflow with OpenPilot 0.10 commits
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
Due: none

Add compilation verification to cherry-pick workflows
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Fix STEER_MAX to match panda safety max_steer (409)
  selfdrive/car/hyundai/values.py
Due: mypy

Fix STEER_MAX to match opendbc safety max_torque (409)
  opendbc_repo/opendbc/car/hyundai/values.py
Due: none

Update workflows with STEER_MAX fix commit hashes
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Fix compilation dependencies in workflows
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Fix pycapnp package name and dependencies
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Implement full compilation in workflows for faster device installation
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Fix Qt5 package name for Ubuntu 24.04
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
Due: none

Fix Ubuntu 24.04 build issues for full compilation
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  selfdrive/modeld/SConscript
  test_compile.sh
Due: none

Fix compilation issues: ARM cross-compiler and VLA errors
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  cereal/messaging/event.cc
  cereal/visionipc/ipc.cc
  release/files_common
  test_compile.sh
Due: cppcheck

Add missing OpenCL, Eigen3, and Cython dependencies
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  body/board/obj/body.elf
  body/board/obj/bootstub.body.elf
  body/board/obj/gitversion.h
  cereal/gen/cpp/car.capnp.h
  cereal/gen/cpp/custom.capnp.h
  cereal/gen/cpp/legacy.capnp.h
  cereal/gen/cpp/log.capnp.h
  cereal/messaging/messaging_pyx.cpp
  cereal/visionipc/visionipc_pyx.cpp
  common/params_pyx.cpp
  common/transformations/transformations.cpp
  panda/board/obj/gitversion.h
  panda/board/obj/version
  test_compile.sh
Due: cppcheck

Fix cythonize command not found
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  body/board/obj/gitversion.h
  cereal/libcereal_shared.so
  opendbc/can/packer_pyx.cpp
  opendbc/can/parser_pyx.cpp
  panda/board/obj/gitversion.h
  panda/board/obj/version
  test_compile.sh
Due: none

Fix casadi dependency and Windows line endings
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  body/board/obj/gitversion.h
  panda/board/obj/gitversion.h
  panda/board/obj/version
  rednose/helpers/ekf_sym_pyx.cpp
  selfdrive/boardd/boardd_api_impl.cpp
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/Makefile
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_sim_solver_lat.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_sim_solver_lat.h
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_solver.pxd
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_solver_lat.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/acados_solver_lat.h
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_constraints/lat_constraints.h
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost.h
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_fun.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_fun_jac_ut_xt.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_0_hess.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_fun.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_fun_jac_ut_xt.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_e_hess.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_fun.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_fun_jac_ut_xt.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_cost/lat_cost_y_hess.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_ode_fun.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_vde_adj.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_expl_vde_forw.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/lat_model/lat_model.h
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/main_lat.c
  selfdrive/controls/lib/lateral_mpc_lib/c_generated_code/main_sim_lat.c
  selfdrive/locationd/models/generated/car.cpp
  selfdrive/locationd/models/generated/car.h
  selfdrive/locationd/models/generated/live.cpp
  selfdrive/locationd/models/generated/live.h
  selfdrive/locationd/models/generated/live_kf_constants.h
  test_compile.sh
Due: cppcheck

Fix Python encoding and shebang issues
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  body/board/obj/gitversion.h
  panda/board/obj/gitversion.h
  panda/board/obj/version
  selfdrive/modeld/models/commonmodel_pyx.cpp
  selfdrive/modeld/runners/runmodel_pyx.cpp
  selfdrive/modeld/runners/snpemodel_pyx.cpp
  test_compile.sh
  third_party/acados/acados_template/acados_ocp.py
Due: cppcheck

Fix Qt positioning package name
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  test_compile.sh
Due: none

Add OpenGL ES headers for camera view
  .github/workflows/decomp-cherrypick-bpilot-testing.yml
  .github/workflows/decompile_and_cherry_pick.yml
  body/board/obj/gitversion.h
  panda/board/obj/gitversion.h
  panda/board/obj/version
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/Makefile
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_sim_solver_long.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_sim_solver_long.h
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_solver.pxd
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_solver_long.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/acados_solver_long.h
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_constraints/long_constr_h_fun.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_constraints/long_constr_h_fun_jac_uxt_zt.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_constraints/long_constraints.h
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost.h
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_fun.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_fun_jac_ut_xt.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_0_hess.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_fun.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_fun_jac_ut_xt.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_e_hess.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_fun.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_fun_jac_ut_xt.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_cost/long_cost_y_hess.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_ode_fun.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_vde_adj.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_expl_vde_forw.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/long_model/long_model.h
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/main_long.c
  selfdrive/controls/lib/longitudinal_mpc_lib/c_generated_code/main_sim_long.c
  selfdrive/modeld/models/commonmodel_pyx.so
  selfdrive/modeld/runners/runmodel_pyx.so
  selfdrive/modeld/runners/snpemodel_pyx.so
  test_compile.sh
Due: cppcheck

FrogPilot README
  README.md
Due: none

FrogPilot param functions
  common/params.cc
  common/params.h
  common/params_pyx.pyx
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/offroad/maps_settings.h
  frogpilot/ui/qt/offroad/model_settings.h
  frogpilot/ui/qt/offroad/navigation_settings.h
  frogpilot/ui/qt/offroad/sounds_settings.h
  frogpilot/ui/qt/offroad/theme_settings.h
  frogpilot/ui/qt/offroad/utilities.cc
  frogpilot/ui/qt/offroad/utilities.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  launch_chffrplus.sh
  opendbc_repo/opendbc/car/interfaces.py
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/onroad/buttons.h
  selfdrive/ui/qt/window.h
  selfdrive/ui/soundd.py
  system/manager/manager.py
  system/updated/updated.py
Due: mypy, cppcheck

FrogPilot conversions
  common/constants.py
  common/util.h
Due: mypy, cppcheck

FrogPilot branding
  frogpilot/assets/other_images/frogpilot_boot_logo.jpg
  frogpilot/assets/other_images/stock_bg.jpg
  frogpilot/common/frogpilot_functions.py
  selfdrive/assets/images/spinner_comma.png
  selfdrive/assets/images/spinner_track.png
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/toggle.cc
  system/ui/spinner.py
Due: mypy, cppcheck

FrogPilot release/tested branches
  system/version.py
Due: mypy

FrogPilot Sentry reporting
  system/sentry.py
  system/updated/updated.py
Due: mypy

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
