Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

Custom "vEgoCluster" offset for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carstate.py
Due: none

Configure "Nissan Leaf 2018-23 - Instrument Cluster"
  opendbc_repo/opendbc/car/nissan/values.py
Due: none

Date and version in home screen
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
Due: cppcheck

Decimate "Torque Estimator" if not previously calibrated
  frogpilot/common/frogpilot_variables.py
  selfdrive/locationd/torqued.py
Due: mypy

Custom Model UI
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Custom "wrong_car_mode_alert" message for CC only cars
  frogpilot/common/frogpilot_variables.py
  selfdrive/selfdrived/events.py
Due: mypy

Custom steering wheel button functions
  frogpilot/controls/frogpilot_card.py
  opendbc_repo/opendbc/car/chrysler/carstate.py
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/nissan/carstate.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Cruise Interval
  selfdrive/car/cruise.py
Due: mypy

Custom minimum lane change speed
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Debug Mode
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/utilities.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/window.cc
Due: mypy, cppcheck

Custom Themes
  frogpilot/assets/stock_theme/colors/colors.json
  frogpilot/assets/stock_theme/distance_icons/aggressive.png
  frogpilot/assets/stock_theme/distance_icons/relaxed.png
  frogpilot/assets/stock_theme/distance_icons/standard.png
  frogpilot/assets/stock_theme/distance_icons/traffic.png
  frogpilot/assets/stock_theme/icons
  frogpilot/assets/stock_theme/sounds
  frogpilot/assets/stock_theme/steering_wheel/wheel.png
  frogpilot/assets/theme_manager.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/soundd.py
Due: mypy, cppcheck

Curve Speed Controller
  frogpilot/assets/other_images/curve_speed.png
  frogpilot/common/frogpilot_utilities.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/curve_speed_controller.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, cppcheck

Device Shutdown Timer
  frogpilot/common/frogpilot_variables.py
  system/hardware/power_monitoring.py
Due: mypy

Display the current road's name
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/driver_monitoring.cc
Due: cppcheck

Disable Uploads
  system/loggerd/uploader.py
  system/manager/process_config.py
Due: mypy

Display the FPS in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
Due: cppcheck

Developer Sidebar
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/widgets/developer_sidebar.cc
  frogpilot/ui/qt/widgets/developer_sidebar.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/onroad/alerts.h
Due: mypy, cppcheck

"Delete Driving Data" button
  frogpilot/ui/qt/offroad/data_settings.cc
Due: cppcheck

Detect if the driver is still in the car
  frogpilot/common/frogpilot_utilities.py
  selfdrive/monitoring/dmonitoringd.py
Due: mypy

Disable openpilot longitudinal
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/vehicle_settings.cc
  frogpilot/ui/qt/offroad/vehicle_settings.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/ui/qt/util.cc
Due: mypy, cppcheck

Disable Logging
  system/manager/process_config.py
Due: mypy

Disable internet connectivity checks
  system/hardware/hardwared.py
  system/updated/updated.py
Due: mypy

Display the current standstill time
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Disable lane changes
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Error logs
  frogpilot/common/frogpilot_functions.py
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/data_settings.cc
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/soundd.py
  system/sentry.py
Due: mypy, cppcheck

Extend the model UI projection
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Dynamic Path Width
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Force Drive State
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/utilities.cc
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/ui.cc
  system/hardware/hardwared.py
  system/manager/manager.py
Due: mypy, cppcheck

Flash Panda
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/utilities.cc
Due: mypy, cppcheck

Display the steering torque in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
Due: cppcheck

Download prompt when switching branches
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

Driving Personality Button
  frogpilot/ui/qt/onroad/frogpilot_buttons.cc
  frogpilot/ui/qt/onroad/frogpilot_buttons.h
  opendbc_repo/opendbc/car/interfaces.py
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/driver_monitoring.cc
  selfdrive/ui/qt/onroad/driver_monitoring.h
Due: cppcheck

Display the model's stopping point
  frogpilot/assets/other_images/stop_sign.png
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: cppcheck

Force Auto-Tune Off
  frogpilot/common/frogpilot_variables.py
Due: mypy

Display the turn signal/blind spot status in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
Due: cppcheck

Display the radar's track points
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: cppcheck

Drive Summary
  frogpilot/ui/qt/widgets/drive_summary.cc
  frogpilot/ui/qt/widgets/drive_summary.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
Due: cppcheck

Far/radar only lead detection
  selfdrive/controls/radard.py
  selfdrive/ui/qt/onroad/model.cc
Due: mypy, cppcheck

Force Auto-Tune On
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
Due: mypy

Green Light Alert
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/selfdrived/events.py
Due: mypy

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
