Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

code refactor to avoid lagging
  cereal/log.capnp
  opendbc_repo/opendbc/car/car.capnp
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/car/hyundai/kisa_cruise_control.py
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/controls/controlsd.py
  system/manager/process_config.py
Due: mypy

duplicate, err fix
  opendbc_repo/opendbc/car/car.capnp
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/carstate.py
  selfdrive/car/cruise.py
Due: mypy

temp exp mode if gap double click. you can see green of set speed box
  selfdrive/car/card.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/settings.cc
Due: mypy, cppcheck

fix tpms key
  opendbc_repo/opendbc/car/hyundai/carstate.py
Due: none

init val
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
Due: none

shorter
  launch_chffrplus.sh
  selfdrive/assets/addon/script/git_reset.sh
  selfdrive/assets/addon/script/gitpull.sh
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/widgets/input.cc
  selfdrive/ui/qt/widgets/kisapilot.cc
Due: cppcheck

one touch git pull
  launch_chffrplus.sh
Due: none

curv use e2e behind a stopped car
  opendbc_repo/opendbc/car/hyundai/kisa_cruise_control.py
Due: none

fix related to params
  common/params_keys.h
  opendbc_repo/opendbc/car/car_helpers.py
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/car/hyundai/interface.py
  opendbc_repo/opendbc/car/hyundai/kisa_cruise_control.py
  opendbc_repo/opendbc/car/hyundai/radar_interface.py
  opendbc_repo/opendbc/car/hyundai/tunes.py
  opendbc_repo/opendbc/car/hyundai/values.py
  opendbc_repo/opendbc/car/interfaces.py
  selfdrive/car/car_specific.py
  selfdrive/car/cruise.py
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/desire_helper.py
  selfdrive/controls/lib/latcontrol_atom.py
  selfdrive/controls/lib/latcontrol_indi.py
  selfdrive/controls/lib/latcontrol_lqr.py
  selfdrive/controls/lib/latcontrol_pid.py
  selfdrive/controls/lib/latcontrol_torque.py
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/ldw.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_mpc_lib/long_mpc.py
  selfdrive/enavi/navi_external.py
  selfdrive/enavi/navi_external_udp.py
  selfdrive/mapd/mapd.py
  selfdrive/modeld/fill_model_msg.py
  selfdrive/modeld/modeld.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/widgets/kisapilot.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/window.cc
  selfdrive/ui/soundd.py
  system/hardware/power_monitoring.py
  system/kupdate.py
  system/manager/process_config.py
Due: mypy, cppcheck

Sonata added(CanFD)
  opendbc_repo/opendbc/car/hyundai/fingerprints.py
  opendbc_repo/opendbc/car/hyundai/values.py
  opendbc_repo/opendbc/car/torque_data/override.toml
Due: none

angle control could use ALT signal
  opendbc_repo/opendbc/car/hyundai/carstate.py
Due: none

Update README.md
  README.md
Due: none

OPGM v0.10.0 release
  opendbc_repo/opendbc/car/__init__.py
  opendbc_repo/opendbc/car/gm/carcontroller.py
  opendbc_repo/opendbc/car/gm/carstate.py
  opendbc_repo/opendbc/car/gm/fingerprints.py
  opendbc_repo/opendbc/car/gm/gmcan.py
  opendbc_repo/opendbc/car/gm/interface.py
  opendbc_repo/opendbc/car/gm/tests/test_gm.py
  opendbc_repo/opendbc/car/gm/values.py
  opendbc_repo/opendbc/car/tests/routes.py
  opendbc_repo/opendbc/car/torque_data/override.toml
  opendbc_repo/opendbc/car/torque_data/substitute.toml
  opendbc_repo/opendbc/dbc/generator/gm/gm_global_a_powertrain.dbc
  opendbc_repo/opendbc/safety/longitudinal.h
  opendbc_repo/opendbc/safety/modes/gm.h
  opendbc_repo/opendbc/safety/safety.h
  opendbc_repo/opendbc/safety/safety_declarations.h
  opendbc_repo/opendbc/safety/tests/common.py
  opendbc_repo/opendbc/safety/tests/test_gm.py
  selfdrive/car/car_specific.py
  selfdrive/car/card.py
  selfdrive/car/cruise.py
  selfdrive/car/tests/test_cruise_speed.py
  selfdrive/controls/controlsd.py
Due: mypy

RealFast v0.10.0 release
  opendbc_repo/opendbc/car/chrysler/carcontroller.py
  opendbc_repo/opendbc/car/chrysler/carstate.py
  opendbc_repo/opendbc/car/chrysler/chryslercan.py
  opendbc_repo/opendbc/car/chrysler/fingerprints.py
  opendbc_repo/opendbc/car/chrysler/interface.py
  opendbc_repo/opendbc/car/chrysler/values.py
  opendbc_repo/opendbc/safety/modes/chrysler.h
  selfdrive/car/car_specific.py
  selfdrive/locationd/paramsd.py
Due: mypy

OPGM
  cereal/car.capnp
  opendbc/gm_global_a_powertrain_volt.dbc
  panda/board/drivers/can_common.h
  panda/board/safety.h
  panda/board/safety/safety_gm.h
  panda/board/safety_declarations.h
  panda/python/__init__.py
  panda/tests/libpanda/safety_helpers.h
  panda/tests/libpanda/safety_helpers.py
  panda/tests/safety/common.py
  panda/tests/safety/test_gm.py
  selfdrive/car/__init__.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/torque_data/neural_ff_weights.json
  selfdrive/car/torque_data/override.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Due: mypy

OPGM v0.9.7 release
  cereal/car.capnp
  opendbc/gm_global_a_powertrain_volt.dbc
  panda/board/drivers/can_common.h
  panda/board/safety.h
  panda/board/safety/safety_gm.h
  panda/board/safety_declarations.h
  panda/python/__init__.py
  panda/tests/libpanda/safety_helpers.h
  panda/tests/libpanda/safety_helpers.py
  panda/tests/safety/common.py
  panda/tests/safety/test_gm.py
  selfdrive/car/__init__.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/torque_data/neural_ff_weights.json
  selfdrive/car/torque_data/override.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Due: mypy

HKG CAN-FD Steering Enhancements
  panda/board/safety/safety_hyundai_canfd.h
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/values.py
  selfdrive/controls/controlsd.py
Due: mypy

Post-0.10: mirror testing dash HUD tweaks
  selfdrive/car/hyundai/carcontroller.py
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy

Add panda torque sync workflows
  .github/workflows/cherrypick-bpilot-pandatorque.yml
  .github/workflows/sync_bp-BPilot-BANNABLE-PandaTorque.yml
Due: none

Update sync_bp-BPilot-BANNABLE-PandaTorque.yml
  .github/workflows/sync_bp-BPilot-BANNABLE-PandaTorque.yml
Due: none

FrogPilot branding
  frogpilot/assets/other_images/frogpilot_boot_logo.jpg
  frogpilot/assets/other_images/stock_bg.jpg
  frogpilot/common/frogpilot_functions.py
  selfdrive/assets/images/spinner_comma.png
  selfdrive/assets/images/spinner_track.png
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/util.cc
  selfdrive/ui/qt/widgets/toggle.cc
  system/ui/spinner.py
Due: mypy, cppcheck

FrogPilot languages
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_caveman.ts
  selfdrive/ui/translations/main_duck.ts
  selfdrive/ui/translations/main_frog.ts
  selfdrive/ui/translations/main_pirate.ts
  selfdrive/ui/translations/main_shakespearean.ts
  selfdrive/ui/translations/main_uk.ts
Due: test_translations

FrogPilot conversions
  common/constants.py
  common/util.h
Due: mypy, cppcheck

FrogPilot param functions
  common/params.cc
  common/params.h
  common/params_pyx.pyx
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/offroad/data_settings.h
  frogpilot/ui/qt/offroad/frogpilot_settings.h
  frogpilot/ui/qt/offroad/longitudinal_settings.h
  frogpilot/ui/qt/offroad/maps_settings.h
  frogpilot/ui/qt/offroad/model_settings.h
  frogpilot/ui/qt/offroad/navigation_settings.h
  frogpilot/ui/qt/offroad/sounds_settings.h
  frogpilot/ui/qt/offroad/theme_settings.h
  frogpilot/ui/qt/offroad/utilities.cc
  frogpilot/ui/qt/offroad/utilities.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  launch_chffrplus.sh
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/widgets/ssh_keys.cc
  selfdrive/ui/qt/widgets/ssh_keys.h
  selfdrive/ui/qt/window.h
  selfdrive/ui/soundd.py
  system/manager/manager.py
  system/updated/updated.py
Due: mypy, cppcheck

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
