Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)

Make HKG dash more like stock
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy

Faster auto tune
  selfdrive/locationd/torqued.py
Due: mypy

HKG CAN-FD Steering Enhancements
  panda/board/safety/safety_hyundai_canfd.h
  selfdrive/car/hyundai/carstate.py
  selfdrive/car/hyundai/values.py
  selfdrive/controls/controlsd.py
Due: mypy

Fast Boot Using Prebuilt
  system/manager/manager.py
Due: mypy

testing gentle sttering on ramp section
  selfdrive/controls/lib/lateral_planner.py
Due: mypy

revert
  selfdrive/controls/lib/lateral_planner.py
Due: mypy

OPGM
  cereal/car.capnp
  opendbc/gm_global_a_powertrain_volt.dbc
  panda/board/drivers/can_common.h
  panda/board/safety.h
  panda/board/safety/safety_gm.h
  panda/board/safety_declarations.h
  panda/python/__init__.py
  panda/tests/libpanda/safety_helpers.h
  panda/tests/libpanda/safety_helpers.py
  panda/tests/safety/common.py
  panda/tests/safety/test_gm.py
  selfdrive/car/__init__.py
  selfdrive/car/gm/carcontroller.py
  selfdrive/car/gm/carstate.py
  selfdrive/car/gm/fingerprints.py
  selfdrive/car/gm/gmcan.py
  selfdrive/car/gm/interface.py
  selfdrive/car/gm/values.py
  selfdrive/car/torque_data/neural_ff_weights.json
  selfdrive/car/torque_data/override.toml
  selfdrive/car/torque_data/substitute.toml
  selfdrive/controls/controlsd.py
  selfdrive/controls/lib/events.py
Due: mypy

scc spam improvement, adas control #1
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
  opendbc_repo/opendbc/car/hyundai/interface.py
  opendbc_repo/opendbc/car/hyundai/kisa_cruise_control.py
  opendbc_repo/opendbc/car/hyundai/values.py
  opendbc_repo/opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
  opendbc_repo/opendbc/safety/modes/hyundai_canfd.h
Due: none

fix
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

improve
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
Due: none

non-hda2 angle control fix
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
Due: none

adj
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/kisa_cruise_control.py
Due: none

Border colors
  selfdrive/ui/ui.h
Due: cppcheck

Hide AEB disabled icon
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy

Update Panda values
  panda/board/safety/safety_hyundai_canfd.h
Due: none

Use MDPS steering angle sensor
  selfdrive/car/hyundai/carstate.py
Due: mypy

Make the dash look stock
  selfdrive/car/hyundai/hyundaicanfd.py
Due: mypy

Hardcode torque for now
  selfdrive/car/hyundai/values.py
Due: mypy

Change some colors
  selfdrive/ui/qt/widgets/controls.h
  selfdrive/ui/qt/widgets/toggle.cc
Due: cppcheck

Boot logo
  frogpilot/assets/other_images/H.png
  frogpilot/common/frogpilot_functions.py
Due: mypy

Fewer steer saturation warnings
  selfdrive/controls/controlsd.py
Due: mypy

Not needed
  frogpilot/common/frogpilot_functions.py
Due: mypy

adas control
  opendbc_repo/opendbc/car/hyundai/carcontroller.py
  opendbc_repo/opendbc/car/hyundai/carstate.py
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
  opendbc_repo/opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Due: none

model curvature is accetable on curvy roads.
  selfdrive/controls/controlsd.py
Due: mypy

adas
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
Due: none

use model at low speeds.
  selfdrive/controls/controlsd.py
Due: mypy

adas control
  opendbc_repo/opendbc/safety/modes/hyundai_canfd.h
Due: none

adas
  opendbc_repo/opendbc/car/hyundai/hyundaicanfd.py
  opendbc_repo/opendbc/dbc/generator/hyundai/hyundai_canfd.dbc
Due: none

car added(MES Sonata)
  opendbc_repo/opendbc/car/hyundai/fingerprints.py
Due: none

fix
  selfdrive/controls/lib/lateral_planner.py
  selfdrive/controls/lib/ldw.py
Due: mypy
