Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --local-partial-types
  - --explicit-package-bases

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --error-exitcode=1
  - --language=c++
  - --quiet
  - --force
  - -j8

test_translations:
  name: test translations
  entry: pytest selfdrive/ui/tests/test_translations.py
  language: system
  pass_filenames: false

FrogPilot languages
  selfdrive/ui/translations/languages.json
  selfdrive/ui/translations/main_caveman.ts
  selfdrive/ui/translations/main_duck.ts
  selfdrive/ui/translations/main_frog.ts
  selfdrive/ui/translations/main_pirate.ts
  selfdrive/ui/translations/main_shakespearean.ts
  selfdrive/ui/translations/main_uk.ts
Due: test_translations

FrogPilot utilities
  frogpilot/common/frogpilot_download_utilities.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
Due: mypy

FrogPilot workflows
  .github/workflows/compile_frogpilot.yaml
  .github/workflows/review_pull_request.yaml
  .github/workflows/schedule_update.yaml
  .github/workflows/update_pr_branch.yaml
  .github/workflows/update_release_branch.yaml
  .github/workflows/update_tinygrad.yaml
  frogpilot/tools/compile_models.py
Due: mypy

Acceleration/Deceleration Profiles
  frogpilot/controls/lib/frogpilot_acceleration.py
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  opendbc_repo/opendbc/dbc/generator/toyota/_toyota_2017.dbc
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Acceleration Path
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Always allow "openpilot Longitudinal Control (Alpha)"
  common/params_keys.h
  selfdrive/car/card.py
  selfdrive/ui/qt/offroad/developer_panel.cc
  selfdrive/ui/qt/offroad/settings.cc
Due: mypy, cppcheck

Adjacent leads tracking
  selfdrive/controls/radard.py
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: mypy, cppcheck

Always allow branch switching
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

Advanced lateral tuning
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
  selfdrive/locationd/lagd.py
  selfdrive/locationd/paramsd.py
  selfdrive/locationd/torqued.py
Due: mypy

Advanced longitudinal tuning
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/volkswagen/carcontroller.py
  selfdrive/controls/lib/longcontrol.py
  selfdrive/controls/lib/longitudinal_planner.py
  selfdrive/modeld/modeld.py
Due: mypy

Alert Volume Controller
  frogpilot/ui/qt/offroad/sounds_settings.cc
  frogpilot/ui/qt/offroad/sounds_settings.h
  selfdrive/ui/soundd.py
Due: mypy, cppcheck

Add community DBC imports
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_new_mc_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_nodsu_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_secoc_pt.dbc
  opendbc_repo/opendbc/dbc/generator/toyota/toyota_tnga_k_pt.dbc
Due: none

Automatic backups
  frogpilot/common/frogpilot_backups.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/data_settings.cc
  system/manager/manager.py
  system/updated/updated.py
Due: mypy, cppcheck

Automatic updates
  frogpilot/common/frogpilot_functions.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.h
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/ui.cc
  system/manager/process_config.py
  system/updated/updated.py
Due: mypy, cppcheck

Automatic translations
  selfdrive/ui/translations/auto_translate.py
  selfdrive/ui/update_translations.py
Due: mypy, test_translations

Configure "Nissan Leaf 2018-23 - Instrument Cluster"
  opendbc_repo/opendbc/car/nissan/values.py
Due: none

Compass
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: cppcheck

"Back" button in settings menu
  selfdrive/ui/qt/offroad/settings.cc
Due: cppcheck

comma's steering speed hack from their 2022 Taco Bell Run
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy

Camera view selection
  selfdrive/ui/qt/onroad/annotated_camera.cc
Due: cppcheck

Chevrolet TRAX 2024
  opendbc_repo/opendbc/car/gm/fingerprints.py
  opendbc_repo/opendbc/car/gm/interface.py
  opendbc_repo/opendbc/car/gm/values.py
  opendbc_repo/opendbc/car/torque_data/substitute.toml
Due: none

Cruise Interval
  selfdrive/car/cruise.py
Due: mypy

Change the steering wheel icon's background color
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
Due: cppcheck

Conditional Experimental Mode
  frogpilot/assets/other_images/chill_mode_icon.gif
  frogpilot/assets/other_images/curve_icon.gif
  frogpilot/assets/other_images/experimental_mode_icon.gif
  frogpilot/assets/other_images/lead_icon.gif
  frogpilot/assets/other_images/light_icon.gif
  frogpilot/assets/other_images/speed_icon.gif
  frogpilot/assets/other_images/turn_icon.gif
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/conditional_experimental_mode.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/car/cruise.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/ui.h
Due: mypy, cppcheck

Block users from using development branches
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/controls/frogpilot_card.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/widgets/frogpilot_controls.cc
  frogpilot/ui/qt/widgets/frogpilot_controls.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/offroad/software_settings.cc
  system/manager/manager.py
  system/sentry.py
Due: mypy, cppcheck

Blind spot path
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Custom minimum lane change speed
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Curve Speed Controller
  frogpilot/assets/other_images/curve_speed.png
  frogpilot/common/frogpilot_utilities.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/curve_speed_controller.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/controls/lib/longitudinal_planner.py
Due: mypy, cppcheck

Custom Themes
  frogpilot/assets/stock_theme/colors/colors.json
  frogpilot/assets/stock_theme/distance_icons/aggressive.png
  frogpilot/assets/stock_theme/distance_icons/relaxed.png
  frogpilot/assets/stock_theme/distance_icons/standard.png
  frogpilot/assets/stock_theme/distance_icons/traffic.png
  frogpilot/assets/stock_theme/icons
  frogpilot/assets/stock_theme/sounds
  frogpilot/assets/stock_theme/steering_wheel/wheel.png
  frogpilot/assets/theme_manager.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/buttons.cc
  selfdrive/ui/qt/onroad/buttons.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/sidebar.cc
  selfdrive/ui/qt/sidebar.h
  selfdrive/ui/soundd.py
Due: mypy, cppcheck

Decimate "Torque Estimator" if not previously calibrated
  frogpilot/common/frogpilot_variables.py
  selfdrive/locationd/torqued.py
Due: mypy

Date and version in home screen
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
Due: cppcheck

Detect if the driver is still in the car
  frogpilot/common/frogpilot_utilities.py
  selfdrive/monitoring/dmonitoringd.py
Due: mypy

Custom "vEgoCluster" offset for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carstate.py
Due: none

Custom Model UI
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Custom "wrong_car_mode_alert" message for CC only cars
  frogpilot/common/frogpilot_variables.py
  selfdrive/selfdrived/events.py
Due: mypy

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)
