Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)

Device Shutdown Timer
  frogpilot/common/frogpilot_variables.py
  system/hardware/power_monitoring.py
Due: mypy

Custom steering wheel button functions
  frogpilot/controls/frogpilot_card.py
  opendbc_repo/opendbc/car/chrysler/carstate.py
  opendbc_repo/opendbc/car/interfaces.py
  opendbc_repo/opendbc/car/nissan/carstate.py
  opendbc_repo/opendbc/car/toyota/carstate.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Developer Sidebar
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/widgets/developer_sidebar.cc
  frogpilot/ui/qt/widgets/developer_sidebar.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/home.h
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/qt/onroad/alerts.h
Due: mypy, cppcheck

Debug Mode
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/utilities.cc
  selfdrive/ui/qt/home.cc
  selfdrive/ui/qt/window.cc
Due: mypy, cppcheck

"Delete Driving Data" button
  frogpilot/ui/qt/offroad/data_settings.cc
Due: cppcheck

Display the steering torque in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
Due: cppcheck

Disable lane changes
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Display the current road's name
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/driver_monitoring.cc
Due: cppcheck

Disable openpilot longitudinal
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/vehicle_settings.cc
  frogpilot/ui/qt/offroad/vehicle_settings.h
  opendbc_repo/opendbc/car/car_helpers.py
  selfdrive/ui/qt/util.cc
Due: mypy, cppcheck

Display the FPS in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/onroad_home.cc
Due: cppcheck

Disable Uploads
  system/loggerd/uploader.py
  system/manager/process_config.py
Due: mypy

Display the radar's track points
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/model.cc
  selfdrive/ui/qt/onroad/model.h
Due: cppcheck

Disable Logging
  system/manager/process_config.py
Due: mypy

Display the model's stopping point
  frogpilot/assets/other_images/stop_sign.png
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: cppcheck

Download prompt when switching branches
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

Display the current standstill time
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Display the turn signal/blind spot status in the screen's border
  frogpilot/ui/qt/onroad/frogpilot_onroad.cc
  frogpilot/ui/qt/onroad/frogpilot_onroad.h
Due: cppcheck

Disable internet connectivity checks
  system/hardware/hardwared.py
  system/updated/updated.py
Due: mypy

Dynamic Path Width
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Force Auto-Tune On
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
Due: mypy

Force Auto-Tune Off
  frogpilot/common/frogpilot_variables.py
Due: mypy

Flash Panda
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/utilities.cc
Due: mypy, cppcheck

Force openpilot to Coast
  frogpilot/assets/other_images/paused_icon.png
  frogpilot/assets/other_images/speed_icon.png
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/lib/frogpilot_acceleration.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/controls/controlsd.py
Due: mypy, cppcheck

Far/radar only lead detection
  selfdrive/controls/radard.py
  selfdrive/ui/qt/onroad/model.cc
Due: mypy, cppcheck

Force Torque Controller
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/interfaces.py
Due: mypy

Force Drive State
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/utilities.cc
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/ui.cc
  system/hardware/hardwared.py
  system/manager/manager.py
Due: mypy, cppcheck

Force Stop at "Detected" Stop Lights/Signs
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/controls/lib/frogpilot_vcruise.py
  selfdrive/selfdrived/events.py
Due: mypy

Extend the model UI projection
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Driving Personality Button
  frogpilot/ui/qt/onroad/frogpilot_buttons.cc
  frogpilot/ui/qt/onroad/frogpilot_buttons.h
  opendbc_repo/opendbc/car/interfaces.py
  selfdrive/ui/qt/onroad/annotated_camera.cc
  selfdrive/ui/qt/onroad/annotated_camera.h
  selfdrive/ui/qt/onroad/driver_monitoring.cc
  selfdrive/ui/qt/onroad/driver_monitoring.h
Due: cppcheck

Drive Summary
  frogpilot/ui/qt/widgets/drive_summary.cc
  frogpilot/ui/qt/widgets/drive_summary.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
Due: cppcheck

Error logs
  frogpilot/common/frogpilot_functions.py
  frogpilot/controls/frogpilot_card.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/data_settings.cc
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/qt/onroad/alerts.cc
  selfdrive/ui/soundd.py
  system/sentry.py
Due: mypy, cppcheck

High-Quality Recordings
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_variables.py
  system/hardware/hw.h
  system/hardware/hw.py
  system/loggerd/loggerd.h
Due: mypy, cppcheck

Hide Max Speed
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

FrogsGoMoo's personal tweaks for Toyota/Lexus
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/toyota/carcontroller.py
Due: mypy

Generate a fake "DongleID" for unofficial devices
  system/athena/registration.py
Due: mypy

Hide Lead Marker
  selfdrive/ui/qt/onroad/model.cc
Due: cppcheck

Hide Current Speed
  selfdrive/ui/qt/onroad/hud.cc
Due: cppcheck

Hide Alerts
  selfdrive/ui/qt/onroad/alerts.cc
Due: cppcheck

Goat Scream
  frogpilot/assets/random_events/sounds/goat.wav
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/soundd.py
Due: mypy

Gracefully catch "set_core_affinity" errors
  common/realtime.py
Due: mypy
