Repository BRid37/opAIO: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cppcheck, test_translations

Path conditions:
  mypy: any of: \.py$ and not (^(third_party/)|(body/)|(msgq/)|(opendbc/)|(panda/)|(rednose/)|(rednose_repo/)|(tinygrad/)|(tinygrad_repo/)|(teleoprtc/)|(teleoprtc_repo/)) and not (^(tinygrad_repo))
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^(third_party/)|(msgq/)|(body/)|(rednose/)|(rednose_repo/)|(opendbc/)|(panda/)|(tools/)|(selfdrive/modeld/thneed/debug/)|(selfdrive/modeld/test/)|(selfdrive/camerad/test/)|(installer/)) and not (^(tinygrad_repo))
  test_translations: any of: ^selfdrive/ui/translations/, but not: ^(tinygrad_repo)

Disable internet connectivity checks
  system/hardware/hardwared.py
  system/updated/updated.py
Due: mypy

Device Shutdown Timer
  frogpilot/common/frogpilot_variables.py
  system/hardware/power_monitoring.py
Due: mypy

Disable lane changes
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Disable Uploads
  system/loggerd/uploader.py
  system/manager/process_config.py
Due: mypy

Far/radar only lead detection
  selfdrive/controls/radard.py
Due: mypy

Flash Panda
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/utilities.cc
Due: mypy, cppcheck

Error logs
  frogpilot/common/frogpilot_functions.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_events.py
  frogpilot/frogpilot_process.py
  frogpilot/ui/qt/offroad/data_settings.cc
  selfdrive/selfdrived/events.py
  selfdrive/ui/qt/offroad/software_settings.cc
  selfdrive/ui/soundd.py
  system/sentry.py
Due: mypy, cppcheck

Force Auto-Tune Off
  frogpilot/common/frogpilot_variables.py
Due: mypy

Force Auto-Tune On
  frogpilot/common/frogpilot_variables.py
  selfdrive/controls/controlsd.py
Due: mypy

Drive Summary
  frogpilot/ui/qt/widgets/drive_summary.cc
  frogpilot/ui/qt/widgets/drive_summary.h
  selfdrive/ui/SConscript
  selfdrive/ui/qt/home.cc
Due: cppcheck

Download prompt when switching branches
  selfdrive/ui/qt/offroad/software_settings.cc
Due: cppcheck

FrogsGoMoo's personal tweaks for Toyota/Lexus
  frogpilot/common/frogpilot_variables.py
  opendbc_repo/opendbc/car/toyota/carcontroller.py
Due: mypy

Force Drive State
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/utilities.cc
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/ui.cc
  system/hardware/hardwared.py
  system/manager/manager.py
Due: mypy, cppcheck

Force Torque Controller
  opendbc_repo/opendbc/car/interfaces.py
Due: none

Generate a fake "DongleID" for unofficial devices
  system/athena/registration.py
Due: mypy

Green Light Alert
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/selfdrived/events.py
Due: mypy

Goat Scream
  frogpilot/assets/random_events/sounds/goat.wav
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
  selfdrive/ui/soundd.py
Due: mypy

High-Quality Recordings
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/data_settings.cc
  system/hardware/hw.h
  system/hardware/hw.py
  system/loggerd/loggerd.h
Due: mypy, cppcheck

Increase steering torque for Subaru Impreza
  opendbc_repo/opendbc/car/subaru/values.py
  opendbc_repo/opendbc/safety/modes/subaru.h
  opendbc_repo/opendbc/safety/tests/test_subaru.py
Due: none

Increase steering torque for "Global Gen2" Subaru
  opendbc_repo/opendbc/car/subaru/values.py
  opendbc_repo/opendbc/safety/modes/subaru.h
  opendbc_repo/opendbc/safety/tests/test_subaru.py
Due: none

Human-Like Lane Changes
  selfdrive/controls/radard.py
Due: mypy

Human-Like Following
  frogpilot/controls/lib/frogpilot_following.py
Due: mypy

Increase Stopped Distance
  frogpilot/controls/frogpilot_planner.py
  selfdrive/controls/radard.py
Due: mypy

Human-Like Acceleration
  frogpilot/controls/lib/frogpilot_acceleration.py
  selfdrive/controls/lib/longcontrol.py
Due: mypy

Konik.ai server support
  common/api.py
  frogpilot/common/frogpilot_functions.py
  frogpilot/common/frogpilot_utilities.py
  frogpilot/common/frogpilot_variables.py
  frogpilot/ui/qt/offroad/data_settings.cc
  frogpilot/ui/qt/widgets/drive_stats.cc
  frogpilot/ui/qt/widgets/drive_stats.h
  frogpilot/ui/qt/widgets/frogpilot_controls.cc
  frogpilot/ui/qt/widgets/frogpilot_controls.h
  selfdrive/ui/qt/api.h
  selfdrive/ui/qt/offroad/settings.cc
  selfdrive/ui/qt/widgets/prime.cc
  system/athena/athenad.py
  system/athena/registration.py
  system/hardware/hw.h
  system/hardware/hw.py
  tools/lib/api.py
  tools/scripts/fetch_image_from_route.py
Due: mypy, cppcheck

Lead Info
  frogpilot/controls/frogpilot_planner.py
  frogpilot/controls/lib/frogpilot_following.py
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
Due: mypy, cppcheck

Increase Temperature Limits
  system/hardware/hardwared.py
Due: mypy

Lead Departing Alert
  frogpilot/controls/lib/frogpilot_events.py
  selfdrive/selfdrived/events.py
Due: mypy

Lead detection sensitivity
  selfdrive/controls/radard.py
Due: mypy

Lane change delay
  selfdrive/controls/lib/desire_helper.py
Due: mypy

Lane Detection
  frogpilot/common/frogpilot_utilities.py
  frogpilot/controls/frogpilot_planner.py
  frogpilot/ui/frogpilot_ui.cc
  frogpilot/ui/frogpilot_ui.h
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.cc
  frogpilot/ui/qt/onroad/frogpilot_annotated_camera.h
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy, cppcheck

Lock doors after ignition off for Toyota/Lexus
  frogpilot/common/frogpilot_utilities.py
  frogpilot/frogpilot_process.py
Due: mypy

Maximum Acceleration
  selfdrive/controls/controlsd.py
Due: mypy

Loud "Car Detected in Blindspot" Alert
  selfdrive/selfdrived/events.py
  selfdrive/selfdrived/selfdrived.py
Due: mypy

Mazda has blind spot monitoring
  opendbc_repo/opendbc/car/mazda/interface.py
Due: none

Low-Voltage Cutoff
  system/hardware/power_monitoring.py
Due: mypy

Lock doors when shifting out of park for Toyota/Lexus
  opendbc_repo/opendbc/car/toyota/carcontroller.py
  opendbc_repo/opendbc/safety/modes/toyota.h
Due: none

Only change lanes when a lane is detected
  selfdrive/controls/lib/desire_helper.py
Due: mypy
